<h1>Create Contact</h1>

<div class="form-container">
  <%= simple_form_for @contact do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, placeholder: 'Email', label: false %>
    <%= f.input :description, placeholder: 'Quelle est votre question?', label: false, :input_html => {:rows => 5} %>
    <%= f.button :submit, "Envoyez", class: 'btn-brand' %>

  <% end %>
</div>
